<div class="signup-login-container">
  <form class="signup-login-form" action="/auth/login" method="POST">
    <p class="form-p"><label for="auth-email">Email</label><br>
      <input class="form-input" id="auth-email" type="email" name="email"></p>

    <p class="form-p"><label for="auth-password">Password</label><br>
      <input class="form-input" id="auth-password" type="password" name="password"></p>

    <input class="form-button" type="submit" value="Log In">
  </form>
</div>