<h2>Admin Dashboard</h2>

<h3>Welcome to your Dashboard</h3>
<h4>Here are all the users</h4>

<% users.forEach(user => {%>
  <p>Name: <%=user.dataValues.firstName%> <%=user.dataValues.lastName%></p>
  <p>Email: <%=user.dataValues.email%></p>
  <p>Birthdate: <%=user.dataValues.birthdate%></p><br/>
<% })%>