<div class="banner"></div>


<div class="content-container">
  <div class="row">
    <div class="col-7">
      <div class="content-card">
        <h5 class="content-heading">Fight Back Against Crooks--and Win!!</h5>
        <img class="img-content" src="https://i.imgur.com/cGp1ydG.jpg" alt="Mariah Carey Belting One Out">
      </div>
      <div class="content-card">
        <h5 class="content-heading">Let's Look Inside Kim's House!</h5>
        <img class="img-content" src="https://i.imgur.com/hmYm24b.jpg"
          alt="Woman with glasses sipping coffee while browsing the itnernet on her macbook pro while lounging in a cushy bed.">
      </div>
      <div class="content-card">
        <h5 class="content-heading">Lorem Ipsum Look At My Face</h5>
        <img class="img-content" src="https://i.imgur.com/gbrhkGZ.jpg"
          alt="Vintage black and white photo of ma holding phone, woman sitting on desk, and another man grabbing her shoulder. All with strange gazes on their faces.">
      </div>
      <br />
      <p class="more">1 <a class="more-link" href="">2</a> <a class="more-link" href="">3</a> <a class="more-link"
          href="">4</a> <a class="more-link" href="">5</a> <a class="more-link" href="">...</a></p>
    </div>
    <div class="col">
      <h4>Most Popular</h4>

      <div class="mp-card row">
        <div class="mp-left col"><img class="mp-img" src="https://i.imgur.com/3Jvdg7G.jpg"
            alt="Couple seated at outdoor dining table, girl holding coffee cup looking into eyes of man seated in front of a croissant, looking back.">
        </div>
        <div class="mp-right col">
          <h6 class="bold font">Who is she having lunch with?</h6>
          <p class="mp-lorem">Hey, so glad you could make it. Yeah, now you really made it. Hey, so glad you could make it now. Oh,
            look at my face.</p>
        </div>
      </div>

      <div class="mp-card row">
        <div class="mp-left col"><img class="mp-img" src="https://i.imgur.com/sovmfJl.jpg"
            alt="Man named Joe, now deceased, giving speech.">
        </div>
        <div class="mp-right col">
          <h6 class="bold font">Joe Left $80M To Charity!</h6>
          <p class="mp-lorem">Hey, so glad you could make it. Yeah, now you really made it. Hey, so glad you could make it now. Oh,
            look at my face.</p>
        </div>
      </div>

      <div class="mp-card row">
        <div class="mp-left col"><img class="mp-img" src="https://i.imgur.com/eyKMMHU.jpg" alt="Woman and man cradle pregnant womans belly.">
        </div>
        <div class="mp-right col">
          <h6 class="bold font">Is it a Girl or a Boy!?</h6>
          <p class="mp-lorem">Hey, so glad you could make it. Yeah, now you really made it. Hey, so glad you could make it now. Oh,
            look at my face.</p>
        </div>
      </div>

      <div class="mp-card row">
        <div class="mp-left col"><img class="mp-img" src="https://i.imgur.com/BpS6WQf.jpg"
            alt="Elvis Presley dancing in vintage photo.">
        </div>
        <div class="mp-right col">
          <h6 class="bold font">Elvis is ALIVE</h6>
          <p class="mp-lorem">Hey, so glad you could make it. Yeah, now you really made it. Hey, so glad you could make it now. Oh,
            look at my face.</p>
        </div>
      </div>

      <h4>From The Web</h4>

      <div class="ftw-card">
        <h6 class="bold font">Lorem Ipsum Hey, so glad you</h6>
        <img class="ftw-img" src="https://i.imgur.com/3Jvdg7G.jpg" alt="">
      </div>

      <div class="ftw-card">
        <h6 class="bold font">Lorem Ipsum Hey, so glad you</h6>
        <img class="ftw-img" src="https://i.imgur.com/IKiFZ3p.jpg" alt="Family of ethnic background standing and smiling and standing around kitchen counter.">
      </div>

      <div class="ftw-card">
        <h6 class="bold font">Lorem Ipsum Hey, so glad you</h6>
        <img class="ftw-img" src="https://i.imgur.com/biB12f6.jpg" alt="Man in bathrobe disc jockeying near Christmas presents.">
      </div>

      <div class="ftw-card">
        <h6 class="bold font">Lorem Ipsum Hey, so glad you</h6>
        <img class="ftw-img" src="https://i.imgur.com/Csfz8eE.jpg" alt="Group of models styled in alternative urban attire, sitting on stoop with shiny guitar.">
      </div>

    </div>
  </div>
</div>


<!-- <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div> -->